/* src/styles/Global.css */

@font-face {
  font-family: 'Ravie';
  src: url('../assets/fonts/ravie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
  }
  
  /* Conteneur principal */
  .App {
    max-width: 1440px; /* Limite la largeur */
    margin: 0 auto;    /* Centre le conteneur */
    padding: 0 20px;   /* Ajoute du padding sur les côtés */
  }
  
  
  